body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /*background-color: lightsteelblue;*/
    background-image: url(../image/bg.jpg);
    background-repeat: no-repeat;
    background-size: 109%;
    overflow: auto;
   
    
}

.cont-login{
    background-color: rgba(255,255,255,0.6);
    padding: 10px;
    border-radius: 5px; 
    margin: auto;
    margin-top: 15%;
    width: 300px;
    height: 250px;
}
.cont-login input{
    margin-bottom: 10px;
}
.cont-login h3{
    text-align: center;
}

#a{
    text-align: center;
}

/*Rodapé home*/
.botom{
    background-color: black;
    color: #fff;
    height: 25px;
    text-align: center;
    font-size: 13px;   
    width: 100%;
    position: absolute;
    bottom: 0; 
}
.botom ul{
    padding: 0px;
    margin: 0px;
}
.botom ul li a{
    text-decoration: none;
    color: #c9c9c9;
}
.botom ul li{
    list-style: none;
    display: inline-block;
    color:#c9c9c9;
    padding: 5px;
    line-height: 15px;
}

/*Style page admin*/
.flex-container{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    
}

.painel{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius:5px;
    margin-top: 50px;
    min-width:400px;
    height: auto;
    padding: 3px;
    margin-right: 10px; 
    margin-bottom: 5px;
}

.title-box{
    text-align: center;
    font-size: 20px;
    color: #000;
    border-bottom: 1px solid #c9c9c9;
}

.list{
    font-size: 15px;
    color: blue;
    border-bottom:1px solid #c9c9c9;
    padding: 5px;
}
.buttons{
    margin-bottom:3px;
}

.top-site{
    position: fixed;
    background-color: #000;
    color: #fff;
    min-height:25px;
    width: 100%;
    padding-left:10px;
    padding-right: 10px;
    margin-left: -15px;
}
.info-user{
    flex: 1;
    text-align: right;
}
.logo{
    flex: 1;
}