@import url('https://fonts.googleapis.com/css?family=Kalam');
@font-face {
	font-family: 'fontLogo';
	src: url("../fonts/Arciform.otf");
	font-weight: normal;
	font-style: normal;
}


body{
	/*Formatação da body*/
	margin:0;
	padding: 0;
	background-image: linear-gradient(#3763FD,#4218b8); /*url(image/1bg.jpg)*/
	background-repeat: no-repeat;
	background-position: fixed;
	overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}
.container{
    height: 50vh;
	padding: 10px;
	display: flex;
}
.container-white{
	height: 50vh;
	padding: 10px;
	display: flex;
	background-color: #fff; 
	justify-content: center;
	align-content: center;
	
}
.logo{
 flex: 1;
 font-family: 'fontLogo';
 font-size: 20pt;
}
.user{
flex: 1;
display: flex;
justify-content: right;

}

.user a{
	text-decoration: none;
	color: #fff;
	height: 47px;
	
}
.logo a{
	text-decoration: none;
	color: #fff;

	
}
.conteudo{
	width: 400px;
	height: 200px;	
	
}
.box{
	width: 100px;
	height: 100px;
	border: 1px solid red;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	
}
.btn-alert{
	padding: 12px;
	color: #fff;
	font-weight: bold;
	border-radius: 20px;
	background-image: linear-gradient(#f04d0d,#faaa14);
	width: 120px;
	text-align: center;
}
