/*Importações*/
@import url('https://fonts.googleapis.com/css?family=Kalam');
@font-face {
	font-family: "Arciform";
	src: url("fonts/Arciform.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}


body{
	/*Formatação da body*/
	margin:0;
	padding: 0;
	background-image: linear-gradient(#3763FD,#4218b8); /*url(image/1bg.jpg)*/
	background-repeat: no-repeat;
	background-position: fixed;
	overflow: hidden;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container{
	display: flex; /*Uso de flex box*/
	justify-content: center;
	align-items: center;
	height: 83%; /*altura total do container hv = % */
	flex-direction: column;
}
.container-top{
	display: flex; /*Uso de flex box*/
	justify-content: center;
	align-items: center;
}
/* Formatação da tela de login*/
.main{
	margin-top: -150px;
}
.login{
	paddin:10px;
	min-width:250px; 
}

.input{
	/*Formatação do input*/
	border-radius: 8px;
	margin-bottom: 10px;
	min-width: 100%;
	height: 40px;
	background-color: #fff;
	border:none;
	padding-left: 5px;
	text-align: center;
	font-size: 10pt;

}

.input:focus{
	box-shadow: 0 1px 10px 1px rgba(255,255,255,0.5);
}

.btn-enviar{
	min-width:100%;
	height: 40px;
	text-align: center;
	background-color: #0E7DDE;
	color: #fff;
	border:none;
	font-size:10pt;
	font-weight: bold;
	border-radius:8px; 
}

.btn-enviar:hover{
	background-color: rgba(82,158,224,1.0);
}
.btn-enviar:focus{
	box-shadow: 0 1px 10px 1px rgba(255,255,255,0.5);
}
/*formatação dos links*/
.link{
	color: #fff;
	font-size: 10pt;
	text-decoration:none;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;

}
.link:hover{
	/*Ao passar em cima do campo com mouse*/
	color:#1B67FD;
	
	
}
.link:focus{
	/*Ao selecionar o campo */
	color:#1B67FD;
	
}
.social-media{
	margin-top:10px;
	min-width: 200px;
	text-align: center;
	}
	.social-media fieldset{
		border-radius: 10px;
		color: #fff;
	}
.icon-social{
	width: 25px;
	
}
.logo{
	margin-bottom: 10px;
	align-self: center;
	
}
/*Formatação exclusivas*/
.right{
	/*Alinhar a direita link tela de login*/
	margin-left: 15%;
}
.left{
	/*Alinhar a esquerda link tela de login*/
	margin-left: 0px;
}
.item-downex{
	margin-right:20px;
	float: right;
	
}

/*Formatação do topo*/
/*importando font local*/

.name-logo{
	/*font-family:'Alciform', normal;*/
	font-family: 'Kalam', cursive;
	color: #fff;
	margin-left: 20px;
	font-size: 10pt;
	flex: 1;
	flex-wrap: nowrap;
	padding: 0px;
	margin-bottom: 0px;
	
}
.name-logo a{
	text-decoration: none;
	color: #fff;
}
.menu{
	padding: 0px;
	margin-bottom: 0px;
	flex: 1;
	text-align: right;
	color: #fff;
	margin-right: 10px;
	font-size: 10pt;
}

.menu nav ul li{
	list-style: none;
	padding:5px;
	display: inline-block;		
}
.menu nav ul li a{
	text-decoration: none;
	color: #fff;
}
.menu nav ul li a:hover{
	color:#4218b8;
}
/*Formatação do rodapé*/
.rodape{
	color: rgba(202, 200, 200, 0.63);
	height: 17%;
	display: flex;
}
.info-down{
	align-items: center;
	text-align: center;
	flex: 1;
	
	/*Formatação da font*/
	font-size: 10pt;
	
}

.item-down{
	margin-left:20px;
	float: left;
}

